---
layout: default
title: API Evangelist - 311
---

<!-- Main -->
{% assign home_content = site.data.home_content.index[0] %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ home_content.title }}</h2>
		</header>
		<p align="right"><img src="https://s3.amazonaws.com/kinlane-productions/kin-lane/kin-lane-cartoon-questioning.png" alt="Kin Lane" width="22%" align="right" /></p>
		<p>{{ home_content.content }}</p>
	</div>
</section>

<!-- Partners -->
<a name="Partners"></a>
<section>
	<header>
		<h2>API Evangelist Partners</h2>
		<p>These are my partners who invest in API Evangelist each month, helping underwrite my research, and making sure I'm able to keep monitoring the API space as I do.</p>
	</header>
	<div class="features">
		{% assign partners = site.data.partners.index | sort: 'view_sort' %}
    {% for partner in partners %}
      {% if partner.type == 'Sponsor' %}
			<article>
				<p><a href="{{ partner.url }}" target="_blank"><img src="{{ partner.image }}" width="75%" style="padding: 15px;" align="center" /></a></p>
				<div class="content">
					<h3><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></h3>
					<p>{{ partner.description }}</p>
				</div>
			</article>
      {% endif %}
    {% endfor %}
	</div>
</section>

<!-- Organizations -->
<a name="Organizations"></a>
{% assign organization_content = site.data.organization_content.index[0] %}
<section>
	<header>
		<h2>Market Data APIs</h2>
	</header>
	<p>These are the market data APIs I have aggregated so far as part of this research. These represent the APIs that are easiest to get access to, and I was able to easily generate an APIs.json, and OpenAPI definition for their operations.</p>
	<div class="features">
		{% include organizations.html %}
	</div>
	<p>If you know of APIs that are not listed here, and are providing easy access to market data via APIs, please submit an issue for <a href="https://github.com/api-stack/market-data/issues">the Github repository for this API research</a>, and I will consider adding to the project index.</p>
</section>

<!-- Organizations -->
<a name="Organizations"></a>
{% assign organization_content = site.data.organization_content.index[0] %}
<section>
	<header>
		<h2>Other Organizations</h2>
	</header>
	<p>These are other market data organizations I am tracking on, but did not have easily accessible APIs. I am focusing only on the APIs who I can get self-service access to, the rest will have to come later.</p>
	<div class="features">
		{% include organizations-other.html %}
	</div>
	<p>If there are any APIs you think should be listed, or feel that one of these should be profiled above, with a higher ranking, feel free to <a href="https://github.com/api-stack/market-data/issues">submit an issue for this research</a> and I will consider changing.</p>
</section>

<!-- About This Research -->
{% assign about_content = site.data.home_content.index[1] %}
<a name="About"></a>
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ about_content.title }}</h2>
		</header>
		{{ about_content.content }}
	</div>
	<span class="image object">
		<img src="{{ about_content.image }}" alt="" width="25%" />
	</span>
</section>
