<section class="filterTags" data-filter-tags="">
   <div class="filterTags__container">

     <script>
      function filter()
        {
        url = document.getElementById('tagfilter').value;
        alert(url);
        location.href = url;
        }
     </script>

     <form>
     <strong>Filter By:</strong>
     <select name="filter" id="tagfilter">
     {% assign navigation = site.data.navigation | sort: 'label' %}
     {% for nav in navigation %}}
         <option value="https://streamdata-gallery.github.io/apis/{{ nav.label }}/apis/">{{ nav.label }}</option>
    {% endfor %}
     </select>
     <input type="button" onclick="filter():" name="filter_by" value="Go" />
   </form>
   </div>
</section>
