{% assign apijson = site.data.apis %}
  {% assign contents = site.data.api-commons %}

  {% for api in apijson.include %}

    {% assign path = api.url  | replace: site.raw_url,'' %}
    {% assign path = path  | replace: '/apis.yaml','' %}

    {% for api in contents %}

      {% assign api_name = api[0] %}
      {% assign folder = api[1] %}

      {% if api_name == path %}

        {% for item in folder %}

          {% assign item_name = item[0] %}

          {% if item_name == 'apis' %}

            {% assign apijson = item[1] %}

            {% assign api_name = apijson.name %}
            {% assign api_description = apijson.description %}
            {% assign api_image = apijson.image %}
            {% assign api_json_url = apijson.url %}

            {% assign api_json_kin_rank = apijson.x-kinRank %}
            {% assign api_json_alexa_rank = apijson.x-alexaRank %}

            {% assign blog_url = '' %}
            {% assign blogrss_url = '' %}
            {% assign portal_url = '' %}
            {% assign gitub_url = '' %}
            {% assign twitter_url = '' %}
            {% assign website_url = '' %}
            {% assign getting_started_url = '' %}
            {% assign authentication_url = '' %}
            {% assign faq_url = '' %}
            {% assign login_url = '' %}
            {% assign signup_url = '' %}
            {% assign documentation_url = '' %}
            {% assign code_page_url = '' %}
            {% assign road_map_url = '' %}
            {% assign issue_url = '' %}
            {% assign change_log_url = '' %}
            {% assign status_dashboard_url = '' %}
            {% assign support_url = '' %}
            {% assign plan_url = '' %}
            {% assign rate_limit_url = '' %}
            {% assign terms_of_service_url = '' %}
            {% assign privacy_policy_url = '' %}

            {% for common in apijson.x-common %}

              {% if common.type == 'x-portal' %}
               {% assign portal_url = common.url %}
              {% endif %}

              {% if common.type == 'x-website' %}
               {% assign website_url = common.url %}
              {% endif %}

              {% if portal_url == '' %}
               {% assign portal_url = website_url %}
              {% endif %}

              {% if common.type == 'x-getting-started' %}
               {% assign getting_started_url = common.url %}
              {% endif %}
              {% if common.type == 'x-authentication-overview' %}
               {% assign authentication_url = common.url %}
              {% endif %}
              {% if common.type == 'x-faq' %}
               {% assign faq_url = common.url %}
              {% endif %}

              {% if common.type == 'x-login' %}
               {% assign login_url = common.url %}
              {% endif %}

              {% if common.type == 'x-selfservice-registration' %}
               {% assign signup_url = common.url %}
              {% endif %}

              {% if common.type == 'x-documentation' %}
               {% assign documentation_url = common.url %}
              {% endif %}

              {% if common.type == 'x-code-page' %}
               {% assign code_page_url = common.url %}
              {% endif %}

              {% if common.type == 'x-road-map' %}
               {% assign road_map_url = common.url %}
              {% endif %}
              {% if common.type == 'x-issues' %}
               {% assign issue_url = common.url %}
              {% endif %}
              {% if common.type == 'x-change-log' %}
               {% assign change_log_url = common.url %}
              {% endif %}
              {% if common.type == 'x-status' %}
               {% assign status_dashboard_url = common.url %}
              {% endif %}

              {% if common.type == 'x-support' %}
               {% assign support_url = common.url %}
              {% endif %}

              {% if common.type == 'x-blog' %}
               {% assign blog_url = common.url %}
              {% endif %}

              {% if common.type == 'x-blog-rss' %}
               {% assign blogrss_url = common.url %}
              {% endif %}

              {% if common.type == 'x-twitter' %}
               {% assign twitter_url = common.url %}
              {% endif %}

              {% if common.type == 'x-github' %}
               {% assign gitub_url = common.url %}
              {% endif %}

              {% if common.type == 'x-signup' %}
               {% assign gitub_url = common.url %}
              {% endif %}

              {% if common.type == 'x-dedicated-plans--pricing-page' %}
               {% assign plan_url = common.url %}
              {% endif %}
              {% if common.type == 'x-rate-limit' %}
               {% assign rate_limit_url = common.url %}
              {% endif %}

              {% if common.type == 'x-terms-of-service-page' %}
               {% assign terms_of_service_url = common.url %}
              {% endif %}
              {% if common.type == 'x-privacy-policy-page' %}
               {% assign privacy_policy_url = common.url %}
              {% endif %}

            {% endfor %}

            {% if api_json_kin_rank == '8' or api_json_kin_rank == '9' %}


              {% if api_name == slug %}

                {% assign detail_page = api_name | downcase %}

                 <section class="APIDetailHeader  APIDetailHeader--extra-top-padding ">
                    <div class="APIDetailHeader__container">
                       <div class="APIDetailHeader__left">
                          <img src="{{ api_image }}" alt="The Guardian API" class="APIDetailHeader__image">
                       </div>
                       <div class="APIDetailHeader__right">
                          <h1 class="APIDetailHeader__title">{{ api_name }}</h1>
                          <h2 class="APIDetailHeader__subtitle">{{ api_name }}</h2>
                          <div class="APIDetailHeader__dateContainer">
                             <p class="APIDetailHeader__dateCallout">Posted on:</p>
                             <p class="APIDetailHeader__date">Feb 5, 2018</p>
                          </div>
                       </div>
                    </div>
                 </section>
                 <section class="APIDetailStats">
                    <h2 class="APIDetailStats__title">Savings With Streamdata.io</h2>
                    <div class="APIDetailStats__row">
                       <div class="APIDetailStats__statContainer">
                          <p class="APIDetailStats__stat">62.20%</p>
                          <p class="APIDetailStats__copy">Client bandwidth savings</p>
                       </div>
                       <div class="APIDetailStats__statContainer">
                          <p class="APIDetailStats__stat">99.00%</p>
                          <p class="APIDetailStats__copy">Server bandwidth savings</p>
                       </div>
                       <div class="APIDetailStats__statContainer">
                          <p class="APIDetailStats__stat">91.00%</p>
                          <p class="APIDetailStats__copy">Server CPU savings</p>
                       </div>
                    </div>
                 </section>
                 <section class="APIDescription">
                    <div class="APIDesciption__container">
                       <h2 class="APIDescription__header">API Description</h2>
                       <div class="APIDescription__table">
                          <div class="APIDescription__tableHeader">
                             <p class="APIDescription__tableHeaderCopy">API</p>
                          </div>
                          <div class="APIDescription__tableBody">
                             <div class="APIDescription__tableBodyCopy">
                                <p>{{ api_name }}</p>
                             </div>
                          </div>
                       </div>
                       <div class="APIDescription__table">
                          <div class="APIDescription__tableHeader">
                             <p class="APIDescription__tableHeaderCopy">Provider</p>
                          </div>
                          <div class="APIDescription__tableBody">
                             <div class="APIDescription__tableBodyCopy">
                                <p>{{ api_name }}</p>
                             </div>
                          </div>
                       </div>
                       <div class="APIDescription__table">
                          <div class="APIDescription__tableHeader">
                             <p class="APIDescription__tableHeaderCopy">API decription</p>
                          </div>
                          <div class="APIDescription__tableBody">
                             <div class="APIDescription__tableBodyCopy">
                                <p>{{ api_description }}</p>
                             </div>
                          </div>
                       </div>
                       <div class="APIDescription__table">
                          <div class="APIDescription__tableHeader">
                             <p class="APIDescription__tableHeaderCopy">API URL</p>
                          </div>
                          <div class="APIDescription__tableBody">
                             <div class="APIDescription__tableBodyCopy">
                                <p><a href="http://content.guardianapis.com/search?api-key=test" target="_blank" rel="noopener">http://content.guardianapis.com/search?api-key=test</a></p>
                             </div>
                          </div>
                       </div>
                       <div class="APIDescription__table">
                          <div class="APIDescription__tableHeader">
                             <p class="APIDescription__tableHeaderCopy">ProgrammableWeb entry</p>
                          </div>
                          <div class="APIDescription__tableBody">
                             <div class="APIDescription__tableBodyCopy">
                                <p><a href="https://www.programmableweb.com/api/guardian" target="_blank" rel="noopener">https://www.programmableweb.com/api/guardian</a></p>
                             </div>
                          </div>
                       </div>
                       <p class="APIDescription__instructions">Curl command through streamdata.io</p>
                    </div>
                    <div class="APIDescription__browserWindow">
                       <div class="APIDescription__browserWindowTitlteBar">
                          <div class="APIDescription__browserWindowControls">
                             <svg class="APIDescrption__browserWindowControl APIDescrption__browserWindowClose">
                                <circle cx="6" cy="6" r="3" fill="#D0021B"></circle>
                             </svg>
                             <svg class="APIDescrption__browserWindowControl APIDescrption__browserWindowMinimize">
                                <circle cx="6" cy="6" r="3" fill="#F8E71C"></circle>
                             </svg>
                             <svg class="APIDescrption__browserWindowControl APIDescrption__browserWindowExpand">
                                <circle cx="6" cy="6" r="3" fill="#7ED321"></circle>
                             </svg>
                          </div>
                       </div>
                       <div class="APIDescrpition__browserWindowMain">
                          <p class="APIDescription__browserWindowMainCopy">
                             curl <span class="APIDescription__browserWindowCopyMainLink">"https://proxy.streamdata.io/http://content.guardianapis.com/search?api-key=test"</span>
                          </p>
                       </div>
                    </div>
                 </section>
                 <section class="APISpecs">
                    <div class="APISpecs__container">
                       <div class="APISpecs__column">
                          <h2 class="APISpecs__header">API Specifications</h2>
                          <div class="APISpecs__row">
                             <div class="APISpecs__rowHeader">
                                <div class="APISpecs__rowHeaderCopy">Average content length</div>
                             </div>
                             <div class="APISpecs__rowStats">
                                <div class="APISpecs__rowStatsCopy">
                                   <p><strong>5.38 Kb</strong></p>
                                </div>
                             </div>
                          </div>
                          <div class="APISpecs__row">
                             <div class="APISpecs__rowHeader">
                                <div class="APISpecs__rowHeaderCopy">Content update frequency</div>
                             </div>
                             <div class="APISpecs__rowStats">
                                <div class="APISpecs__rowStatsCopy">
                                   <p><strong>122 second(s)</strong></p>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="APISpecs__column">
                          <h2 class="APISpecs__header">Test Conditions</h2>
                          <div class="APISpecs__row">
                             <div class="APISpecs__rowHeader">
                                <div class="APISpecs__rowHeaderCopy">Date of test</div>
                             </div>
                             <div class="APISpecs__rowStats">
                                <div class="APISpecs__rowStatsCopy">
                                   <p><strong>02/17/17 11:35</strong></p>
                                </div>
                             </div>
                          </div>
                          <div class="APISpecs__row">
                             <div class="APISpecs__rowHeader">
                                <div class="APISpecs__rowHeaderCopy">Simultaneous users simulated</div>
                             </div>
                             <div class="APISpecs__rowStats">
                                <div class="APISpecs__rowStatsCopy">
                                   <p><strong>1000</strong></p>
                                </div>
                             </div>
                          </div>
                          <div class="APISpecs__row">
                             <div class="APISpecs__rowHeader">
                                <div class="APISpecs__rowHeaderCopy">Duration of test</div>
                             </div>
                             <div class="APISpecs__rowStats">
                                <div class="APISpecs__rowStatsCopy">
                                   <p><strong>2.42 minute(s)</strong></p>
                                </div>
                             </div>
                          </div>
                          <div class="APISpecs__row">
                             <div class="APISpecs__rowHeader">
                                <div class="APISpecs__rowHeaderCopy">Polling frequency used for test</div>
                             </div>
                             <div class="APISpecs__rowStats">
                                <div class="APISpecs__rowStatsCopy">
                                   <p><strong>60 second(s)</strong></p>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </section>

              {% endif %}

            {% endif %}

          {% endif %}

        {% endfor %}

      {% endif %}

    {% endfor %}

  {% endfor %}
